/* Reset styles for all elements */
*{
    margin: 0;
    padding: 0;
    font-size: "Palatino", sans-serif;
    box-sizing: border-box;
}
/* Styles for the header section */
#header{
    width: 100%;
    height: 100vh;
    background-image: url("newmexico.jpg");
    background-size: cover;
    background-position: center;
}
/* Styles for the logo */
.logo{
    opacity: 0.9;
    width: 225px;
    float: left;
    position: fixed;

}
/* Styles for the navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 10%;
}
/* Styles for the navigation links */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 30px 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
}
/* Styles for the hover effect on navigation links */
nav ul li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: #ffff8f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* Styles for the header text */
.header-text{
    margin-top: 15%;
    font-size: 60px;
    color: white;
    height: 100px;
    width: 100%;
    text-align:center;
}
.header-text h1{
    font-size: 25px;
    margin-top: 10px;
    color:#ffff8f
}
.about-container{
    position: relative;
}
/* Styles for the second header section */
#header1 {
    width: 100%;
    height: 100vh;
    background-image: url("army1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: right;

}
.container1{
    display: inline-block;
    list-style: none;
    margin: 30px 30px;
}
/* Styles for the second logo */
.logo1{
    opacity: 0.9;
    width: 225px;
    float: left;
    position: absolute;
    left: 0;
}
/* Styles for the second navigation */
nav1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 10%;
}
/* Styles for the second navigation links */
nav1 ul1 li{
    display: inline-block;
    list-style: none;
    margin: 30px 30px;
}
nav1 ul1 li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
}
/* Styles for the hover effect on second navigation links */
nav1 ul1 li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: #ffff8f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav1 ul1 li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: #ffff8f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav1 ul1 li a:hover::after{
    width: 100%;
}
/* Styles for the sub title */
.sub-title{
    margin-top: 5%;
    font-size: 50px;
    color: white;
    height: 75px;
    width: 100%;
    text-align:center;
}
.about-col-2{
    text-align: center;
}
.about-col-2 img{
    width: 300px;
    height: auto;
    margin-top: 70px;
}
.about-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Styles for the second about container */
nav2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 10%;
}
/* Styles for the third navigation links */
nav2 ul2 li{
    display: inline-block;
    list-style: none;
    margin: 30px 30px;
}
nav2 ul2 li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
}
/* Styles for the hover effect on third navigation links */
nav2 ul2 li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: #ffff8f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav2 ul2 li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: #ffff8f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav2 ul2 li a:hover::after{
    width: 100%;
}
/* Styles for the third logo */
.logo2{
    opacity: 0.9;
    width: 200px;
    float: left;
    position: absolute;
    left: 0;
}
/* Styles for the interest title */
.interst-title{
    margin-top: 5%;
    font-size: 40px;
    color: white;
    height: 75px;
    width: 100%;
    text-align:left;
}
/* Styles for the third header section */
#header2 {
    width: 100%;
    height: 100vh;
    background-image: url("pcgame.jpg");
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: right;

}
/* Styles for the videos section */
.videos {
    display: flex;
    gap: 20px; 
}
.videos iframe {
    margin-top: 80px; 
    width: 50%;
    height: 400px;
}
/* Styles for the fourth logo */
.logo3{
    opacity: 0.9;
    width: 225px;
    float: left;
    position: fixed;
}
/* Styles for the fourth navigation */
nav3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 10%;
}
/* Styles for the fourth navigation links */
nav3 ul3 li{
    display: inline-block;
    list-style: none;
    margin: 30px 30px;
}
nav3 ul3 li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
}
/* Styles for the hover effect on fourth navigation links */
nav3 ul3 li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: #ffff8f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav3 ul3 li a:hover::after{
    width: 100%;
}
/* Styles for the third header text */
.header-text3{
    margin-top: 15%;
    font-size: 50px;
    color: black;
    height: 100px;
    width: 100%;
    text-align:center;
}
.header-text3 h1{
    font-size: 30px;
    margin-top: 10px;
    color: black;
}
/* Styles for the contact title */
.contact-title {
    margin-top: 10%;
    font-size: 40px;
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
}
/* Styles for the contact title */
#header3{
    width: 100%;
    height: 100vh;
    background-image: url("contact2.jpg");
    background-size: cover;
    background-position: center;
}
.instagram-link {
    text-align: center;
}
/* Styles for the fourth logo */
.logo4{
    opacity: 0.9;
    width: 225px;
    float: left;
    position: fixed;
}
/* Styles for the fifth navigation */
nav4{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 10%;
}
/* Styles for the fifth navigation links */
nav4 ul4 li{
    display: inline-block;
    list-style: none;
    margin: 30px 30px;
}
nav4 ul4 li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
}
/* Styles for the hover effect on fifth navigation links */
nav4 ul4 li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: #ffff8f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav4 ul4 li a:hover::after{
    width: 100%;
}
/* Styles for the fifth header text */
.header-text4{
    margin-top: 15%;
    font-size: 50px;
    color: black;
    height: 100px;
    width: 100%;
    text-align:center;
}
.header-text4 h1{
    font-size: 30px;
    margin-top: 10px;
    color: white;
    text-align: center;
}
/* Styles for the resume title */
.resume-title {
    margin-top: 10%;
    font-size: 40px;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
}
#header4{
    width: 100%;
    height: 100vh;
    background-image: url("ballons.jpg");
    background-size: cover;
    background-position: center;
}
/* Styles for the resume button */
.resume-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px; 
}
/* Hover effect for the resume button */
.resume-button:hover {
    background-color: grey;
}
/* Styles for the image in the header text */
.header-text img {
    max-width: 150px; 
    height: auto; 
    margin-top: 20px; 
    border-radius: 50%; 
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
}
/* Styles for the image in the fourth header text */
.header-text4 img {
    max-width: 150px; 
    height: auto; 
    margin-top: 20px; 
    border-radius: 50%; 
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
}
/* Styles for the footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    text-align: center; 
}
/* Styles for the footer paragraph */
footer p {
    margin: 0; 
    color: white; 
    font-size: 14px; 
}
